{% extends 'rate/base.html' %}

{% block title %}Contact Us{% endblock %}
{% block path %} <li><a  href="/rate/" >Home</a></li><li class="active">Contact Us</li>{% endblock %}
{% block body_block %}
    <div class="text-center">
        <br><br>
        <h1 class="h1">Contact Colossus 4.0</h1>
        <br><br><br>
        <ul class="list-unstyled list-inline" style="color:#000;">
            <div class="col-xs-6 col-md-3">
                <li class="thumbnail">
                    <img src="/static/images/email.jpg">
                    <h4>EMAIL</h4>
                    <p>info@colossus.co.uk</p>
                </li>
            </div>
            <div class="col-xs-6 col-md-3" style="color:#000;">
                <li class="thumbnail">
                    <img src="/static/images/utility-warehouse-home-phone.jpg">
                    <h4>PHONE</h4>
                    <p>+44 (0)1234 123 123</p>
                </li>
            </div>
            <div class="col-xs-6 col-md-3" style="color:#000;">
                <li class="thumbnail">
                    <img src="/static/images/fb_icon_325x325.png">
                    <h4>FACEBOOK</h4>
                    <p>Like Us!</p>
                </li>
            </div>
            <div class="col-xs-6 col-md-3" style="color:#000;">
                <li class="thumbnail">
                    <img src="/static/images/twitter_logo1-Copy.png">
                    <h4>TWITTER</h4>
                    <p>Follow Us!</p>
                </li>
            </div>
        </ul>

    </div>
        <div class="my_extra_space"></div>
{% endblock %}