{% extends 'rate/base.html' %}

{% block title %}{{ title }}{% endblock %}
{% block path %}
    <li><a href="/rate/">Home</a></li>
    <li class="active">Rated Courses</li>
    <li class="active">{{ title }}</li>{% endblock %}
{% block body_block %}

        <div class="col-sm-4" style="text-align: left; width:20%;  min-width:160px;">
            <div class="span4" style="text-align: left">
                <h3>Filters</h3>

                <form method="post">
                    {% csrf_token %}
                    <br/>

                    <p><strong>University</strong></p>

                    <div class="my_filters_courses">
                        {% if universitylist %}
                            {% for item in universitylist %}
                                <input id="uniBox" type="checkbox" name="university" value="{{ item.name }}">
                                {{ item.name }}<br>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <br/>

                    <p><strong>Level</strong></p>

                    <div class="my_filters_courses">

                        <input type="checkbox" name="level" value="1"> Level 1<br>
                        <input type="checkbox" name="level" value="2"> Level 2<br>
                        <input type="checkbox" name="level" value="3"> Level 3<br>
                        <input type="checkbox" name="level" value="4"> Level 4<br>
                        <input type="checkbox" name="level" value="5"> Level M<br>

                    </div>
                    <br/>

                    <p><strong>Year</strong></p>

                    <div class="my_filters_courses">

                        {% if yearlist %}
                            {% for item in yearlist %}
                                <input type="checkbox" name="year" value="{{ item.year }}"> {{ item.year }}<br>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="my_filters_buttons_div ">
                        <div class="my_filters_button">
                            <button type="button" class="btn btn-primary btn-sm" style="width:140px;" id="resetfilder">reset filters</button>
                        </div>
                    </div>
                </form>
            </div>
            </div>
        <div class="col-sm-4" style="text-align: left; width:80%;">

            <h2>{{ title }}</h2>
            {% if ch_title == 1 %} <a class="my_chosen_tab" href="/rate/rated_courses/top">Top</a>
            {% else %} <a class="btn btn-primary" href="/rate/rated_courses/top">Top</a>
            {% endif %}
            {% if ch_title == 2 %} <a class="my_chosen_tab" href="/rate/rated_courses/worst">Worst</a>
            {% else %} <a class="btn btn-primary" href="/rate/rated_courses/worst">Worst</a>
            {% endif %}
            {% if ch_title == 3 %} <a class="my_chosen_tab" href="/rate/rated_courses/latest">Most Recent</a>
                {% else %}<a class="btn btn-primary" href="/rate/rated_courses/latest">Most Recent</a>
            {% endif %}
            <table border="0" class="table table-striped" id="unitable">
                <thead>
                <tr class="my_table_header">
                    <td width="28%">University</td>
                    <td width="5%">Level</td>
                    <td width="28%">Course</td>
                    <td width="7%">Year</td>
                    <td width="5%">Rate</td>
                    <td width="30%">Date</td>
                </tr>
                </thead>
                {% if list %}
                    {% for rate in list %}
                        <tr class="my_table_tr">
                            <td>{{ rate.university }}</td>
                            <td>{% if rate.level == 5 %} MSc {% else %} {{ rate.level }}{% endif %}</td>
                            <td><a href="/rate/course/{{ rate.url }}">{{ rate.title }}</a></td>
                            <td>{{ rate.year }}</td>
                            <td>{{ rate.stored_average_rating }}</td>
                            <td>{{ rate.date }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr class="my_table_tr">
                        <td></td>
                        <td></td>
                        <td><strong>There are no {{ title }} yet.</strong></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endif %}
            </table>
        </div>

{% endblock %}
{% block filderJScript %}
    <script type="text/javascript">
        $(document).ready(function () {

            $('.my_filters_courses :checkbox').click(function () {
                var yearlist = [];
                var unilist = []
                var levlist = []
                var found = false
                $('.my_filters_courses :checked').each(function () {
                    {#                    allVals.push($(this).val());#}
                    sort($(this).val(), levlist, unilist, yearlist);

                });
                $('#unitable').empty()
                $('#unitable').append('<thead> <tr class="my_table_header"><td width="28%">University</td><td width="5%">Level</td><td width="28%">Course</td><td width="7%">Year</td><td width="5%">Rate</td><td width="30%">Date</td></tr></thead>')
                {% for rate in list %}
                    var startRow = '<tr class="my_table_tr">'
                    var endRow = '</tr>'
                    var university, level, year

                    {#checking checkbox list to see if empty and then checking varibale if exists in list otherwise its null #}
                    if (unilist.length > 0)  university = find("{{rate.university}}", unilist)
                    else university = "{{rate.university}}"


                    if (levlist.length > 0)level = find("{{rate.level}}", levlist)
                    else level = "{{rate.level}}"

                    if (yearlist.length > 0) year = find("{{rate.year}}", yearlist)
                    else year = "{{rate.year}}"
                    {# staring to create parts of the row to appent                   #}
                    var columnUni = '<td>' + university + '</td>'
                    var columnLevel = '<td>' + level + '</td>'
                    var columnRate = '<td>' + '{{ rate.stored_average_rating }}' + '</td>'
                    var url = "{{ rate.url }}"
                    var columnCourse = '<td><a href="/rate/course/' + url + '">' + '{{ rate.title}}' + '</td>'
                    var columnDate = '<td>' + '{{ rate.date}}' + '</td>'
                    var columnYear = '<td>' + year + '</td>'

                    var fullRow = startRow + columnUni + columnLevel + columnCourse + columnYear + columnRate + columnDate + endRow
                    if (university.length > 0 && level.length > 0 && year.length > 0) {
                        $('#unitable').append(fullRow);
                        found = true
                    }
                {% endfor %}
                //check if filtered search was found
                if (!found) {
                    $('#unitable').empty()
                    $('#unitable').append(startRow + '<td>No results</td>' + endRow)

                }


            });
            function find(value, list) {
                for (var i = 0; i < list.length; i++) {
                    if (value == list[i])return value

                }
                return ""
            }

            function sort(value, level, uni, date) {
                if (value.length == 1)level.push(value)
                else if (value.length == 4)date.push(value)
                else uni.push(value)
            }

            $("#resetfilder").click(function () {
                $('.my_filters_courses :checkbox').attr('checked', false);
                                location.reload();
            });

        });
    </script>
{% endblock %}